<section id="callforpapers">
    <h2>Call for Papers</h2>
<!--
    <p>The Call for Papers is now closed. We received () submissions and we're currently putting together the technical programme.</p>
-->

    <p>Presentation proposals for sat<b>R</b>day Cardiff are now open.</p>

    <div class="center">
        <a class="btn btn-success register" href="https://www.papercall.io/satrdaycardiff2018" target="BLANK">Submit your proposal</a>
    </div>

    <p>What are the benefits of giving a presentation?</p>
    <ul>
        <li>Speakers will have their registration fees refunded.</li>
        <li>Financial support may be possible for speakers.</li>
    </ul>

    <p>Feel free to submit one or more proposal(s). We will be considering the following presentation formats:</p>
    <ul>
        <li>Workshop [3 hours]</li>
        <li>Standard Talk [30~45 min]</li>
        <li>Lightning Talk [5~10 min]</li>
    </ul>

    <p>When filling out the abstracts consider which of the following four sections would best suit your content.</p>
    <ul>
        <li>Business - Use Case (e.g. “We at [good biz] did [great data project]”)</li>
        <li>Business - Experience (e.g. “At [good biz] we believe in doing [technology/structure/process])</li>
        <li>Code - Introduction (e.g. “How I learned to stop worrying and love git”, “A hitchhikers guide to the tidyverse”, “IDE another day”)</li>
        <li>Code - Project (e.g. “I got some data on [something fun] and did a [cool thing]”)</li>
    </ul>
    <p>If you are unsure about where your talk fits, please get in touch with <a href="mailto:satrday.cardiff@gmail.com" target="_top">us through email</a>.</p>
</section>
