<section id="importantdates">
    <h2>Important Dates</h2>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Event</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Early-Bird Registration Deadline</td>
                <td>2018-05-01</td>
            </tr>
            <tr>
                <td>Talk Submission Deadline</td>
                <td>2018-05-28 11:00am (BST)</td>
            </tr>
            <tr>
                <td>Latest Notification of Accepted Talk</td>
                <td>2018-06-01</td>
            </tr>
            <tr>
                <td>Pre-conference social</td>
                <td>2018-06-22</td>
            </tr>
            <tr>
                <td>Conference</td>
                <td>2018-06-23</td>
            </tr>
        </tbody>
    </table>
</section>
