<section id="speakers">
  <h2>Speakers</h2>

  <h4>Workshop Leaders</h4>
  <div class="row">
    <div class="col-sm-4">
      <div class="speaker">
        <div class="speaker-photo">
          <img src="images/speakers/profile-stephanie-locke.jpg" />
        </div>
        <div class="keynote-name">
          Stephanie Locke
        </div>
        <div class="keynote-position">
          Chief Chibi Officer
        </div>
        <div class="speaker-affiliation">
          Locke Data
        </div>
        <div class="speaker-social">
          <a href="https://twitter.com/lockedata"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="https://github.com/lockedata"><i class="fa fa-github" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
          Steph is the founder of a consultancy in the UK. Her talks, blog posts, conferences, and business all have one thing in common – they help people get started with data science. Steph holds the Microsoft MVP award for her community contributions. In her
          spare time, Steph plays board games with her husband and takes copious pictures of her doggos.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="speaker">
        <div class="speaker-photo">
          <img src="images/speakers/profile-heather-turner.jpg" />
        </div>
        <div class="keynote-name">
          Heather Turner
        </div>
        <div class="keynote-position">
          Freelance Consultant
        </div>
        <div class="speaker-social">
          <a href="https://twitter.com/HeathrTurnr"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="http://heatherturner.net/"><i class="fa fa-globe" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
          Heather is a freelance consultant with over ten years experience providing statistical and programming support to investigators in statistics, social science, drug discovery, bioinformatics and agriculture. She regularly develops packages as part of her
          work and is a maintainer/contributor of six packages on CRAN (BradleyTerry2, forwards, gnm, PlackettLuce, logmult, vcdExtra). Heather is an active member of the R community, in particular she is on the board of the R Foundation and chairs the
          Forwards taskforce on women and other under-represented groups.
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="speaker">
        <div class="speaker-photo">
          <img src="images/speakers/profile-kathrine-tansey.jpg" />
        </div>
        <div class="keynote-name">
          Kathrine Tansey
        </div>
        <div class="keynote-position">
          Data Scientist
        </div>
        <div class="speaker-affiliation">
          Admiral
        </div>
        <div class="speaker-social">
        </div>
        <div class="speaker-bio">
          Kathrine is a data scientist with extensive experience in exploratory data analysis, predictive modelling, multivariate analyses, and longitudinal data. She has worked in R for the past 10 years, and has more recently learned python. She received a PhD in human genetics in 2009 from Trinity College Dublin, and subsequently worked at King’s College London, Cardiff University and the University of Bristol in the area of human genomics. As part of her job with Cardiff University, she taught Beginner’s R workshops, which covered the basics of R, the tidyverse package, plotting with ggplot2, and RMarkdown. Kathrine recently moved out of academia and now works as a data scientist for Admiral in Cardiff.
        </div>
      </div>
    </div>
  </div>

  <h4>Speakers</h4>

  <div class="row">
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-maelle-salmon.jpg">
        </div>
        <div class="speaker-name">
          Maëlle Salmon
        </div>
        <div class="speaker-topic">
          "Our packages reviews in review: introducting and analyzing rOpenSci onboarding system"
        </div>
        <div class="speaker-position">
          Data Scientist & Research Software Engineer
        </div>
        <div class="speaker-affiliation">
          rOpenSci
        </div>
        <div class="speaker-social">
          <a href="http://www.masalmon.eu/"><i class="fa fa-globe" aria-hidden="true"></i></a>
          <a href="https://twitter.com/ma_salmon"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-nujcharee-ped.jpg">
        </div>
        <div class="speaker-name">
          Nujcharee (เป็ด)
        </div>
        <div class="speaker-topic">
          "Introduction to Tidytext"
        </div>
        <div class="speaker-position">
          Data Scientist
        </div>
        <div class="speaker-affiliation">
          North Yorkshire County Council
        </div>
        <div class="speaker-social">
          <a href="https://twitter.com/nujcharee"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-paul-robinson.jpg">
        </div>
        <div class="speaker-name">
          Paul Robinson
        </div>
        <div class="speaker-topic">
          "A simple Bayesian statistical workflow"
        </div>
        <div class="speaker-position">
          Conservation Biologist
        </div>
        <div class="speaker-affiliation">
          Cardiff University
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-erle-holgersen.jpg">
        </div>
        <div class="speaker-name">
          Erle Holgersen
        </div>
        <div class="speaker-topic">
          "Integrating Command Line Tools with R"
        </div>
        <div class="speaker-position">
          Bioinformatician
        </div>
        <div class="speaker-affiliation">
          Institute of Cancer Research
        </div>
        <div class="speaker-social">
          <a href="https://erle.io"><i class="fa fa-globe" aria-hidden="true"></i></a>
          <a href="https://twitter.com/wuergh"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-adnan-fiaz.jpg">
        </div>
        <div class="speaker-name">
          Adnan Fiaz
        </div>
        <div class="speaker-topic">
          "Snakes in a Package: A guide to and example of combining python and R"
        </div>
        <div class="speaker-position">
          Senior Data Scientist
        </div>
        <div class="speaker-affiliation">
          Mango Solutions
        </div>
        <div class="speaker-social">
          <a href="http://adfi.gitlab.io/"><i class="fa fa-globe" aria-hidden="true"></i></a>
          <a href="https://twitter.com/tapundemek"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-amy-mcdougall.png">
        </div>
        <div class="speaker-name">
          Amy McDougall
        </div>
        <div class="speaker-topic">
          "Airtable & R: a marketers heaven"
        </div>
        <div class="speaker-position">
          Operations Manager
        </div>
        <div class="speaker-affiliation">
          Locke Data
        </div>
        <div class="speaker-social">
          <a href="https://itsalocke.com/blog/how-to-use-an-r-interface-with-airtable-api/"><i class="fa fa-globe" aria-hidden="true"></i></a>
          <a href="https://twitter.com/Amymcdougall96"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-philipp-boersch-supan.jpg">
        </div>
        <div class="speaker-name">
          Philipp Boersch-Supan
        </div>
        <div class="speaker-topic">
          "Counting and weighing penguins really fast with Rcpp"
        </div>
        <div class="speaker-position">
          Ecological Statistician
        </div>
        <div class="speaker-affiliation">
          British Trust for Ornithology
        </div>
        <div class="speaker-social">
          <a href="https://pboesu.github.io/"><i class="fa fa-globe" aria-hidden="true"></i></a>
          <a href="https://twitter.com/pboesu"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-ellen-talbot.jpg">
        </div>
        <div class="speaker-name">
          Ellen Talbot
        </div>
        <div class="speaker-topic">
          "Using R to evaluate Smart Meter Energy Data"
        </div>
        <div class="speaker-position">
          PhD canditate
        </div>
        <div class="speaker-affiliation">
          University of Liverpool
        </div>
        <div class="speaker-social">
          <a href="https://github.com/sgetalbo"><i class="fa fa-globe" aria-hidden="true"></i></a>
          <a href="https://twitter.com/etalbot1291"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-jonathan-stott.jpg">
        </div>
        <div class="speaker-name">
          Jonathan Stott
        </div>
        <div class="speaker-topic">
          "Preparing Your Models For Take Off"
        </div>
        <div class="speaker-position">
          Senior Data Scientist
        </div>
        <div class="speaker-affiliation">
          MAG-O (Manchester Airport Group - Online)
        </div>
        <div class="speaker-social">
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-nic-crane.jpg">
        </div>
        <div class="speaker-name">
          Nic Crane
        </div>
        <div class="speaker-topic">
          "A Clean Start with Tidy Eval"
        </div>
        <div class="speaker-position">
        </div>
        <div class="speaker-affiliation">
        </div>
        <div class="speaker-social">
          <a href="https://thisisnic.github.io/"><i class="fa fa-globe" aria-hidden="true"></i></a>
          <a href="https://twitter.com/nic_crane"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="speaker" data-original-title="" title="">
        <div class="speaker-photo">
          <img src="images/speakers/profile-jack-li.jpg">
        </div>
        <div class="speaker-name">
          Jack Guangjie Li
        </div>
        <div class="speaker-topic">
          "Using Rvest to Collect/Archive Past and Present Daily Financial News"
        </div>
        <div class="speaker-position">
          Lecturer in Economics
        </div>
        <div class="speaker-affiliation">
          Cardiff University
        </div>
        <div class="speaker-social">
        </div>
        <div class="speaker-bio">
        </div>
      </div>
    </div>
  </div>

  <!--
        <div class="col-sm-4">
            <div class="speaker">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-placeholder.png" />
                </div>
                <div class="keynote-name">

                </div>
                <div class="keynote-position">

                </div>
                <div class="keynote-affiliation">
                    <a href=""></a>
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://github.com/"><i class="fa fa-github" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        -->

  <!--
    <h4 class="space">Speakers</h4>
    <div class="row">
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-raymond-ellis.jpg">
                </div>
                <div class="speaker-name">
                    Raymond Ellis
                </div>
                <div class="speaker-position">
                    Freelance
                </div>
                <div class="speaker-affiliation">
                    Machine Learning Specialist
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/Merriweather"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/raymondellis20"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/igelundfuchs"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-greg-streatfield.jpg">
                </div>
                <div class="speaker-name">
                    Gregory Streatfield
                </div>
                <div class="speaker-position">
                    Head of Data and Analytics
                </div>
                <div class="speaker-affiliation">
                    Ogilvy &amp; Mather
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/Streaky75"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/Streaky_75"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/gregory-streatfield-060b8539"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-david-lubinsky.jpg">
                </div>
                <div class="speaker-name">
                    David Lubinsky
                </div>
                <div class="speaker-position">
                    Managing Director
                </div>
                <div class="speaker-affiliation">
                    OPSI Systems
                </div>
                <div class="speaker-social">
                    <a href="https://za.linkedin.com/in/david-lubinsky-422419"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-marko-jakovljevic.jpg">
                </div>
                <div class="speaker-name">
                    Marko Jakovljevic
                </div>
                <div class="speaker-position">
                    Founder / CEO
                </div>
                <div class="speaker-affiliation">
                    Overscore
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/OverscoreDev"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/MarchofReason"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/markoj500"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-jasen-mackie.jpg">
                </div>
                <div class="speaker-name">
                    Jasen Mackie
                </div>
                <div class="speaker-position">
                    Product Owner
                </div>
                <div class="speaker-affiliation">
                    Iress
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/jaymon0703"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/OpenSourceQuant"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/jasenmackie"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-glenn-moncrieff.jpg">
                </div>
                <div class="speaker-name">
                    Glenn Moncrieff
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Ixio Analytics
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/GMoncrieff"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/Glennwithtwons"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-marc-van-heerden.jpg">
                </div>
                <div class="speaker-name">
                    Marc van Heerden
                </div>
                <div class="speaker-position">
                    Analytics Manager
                </div>
                <div class="speaker-affiliation">
                    UBER
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/Marcvheer"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-nkululeko-thangelane.jpg">
                </div>
                <div class="speaker-name">
                    Nkululeko Thangelane
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Standard Bank
                </div>
                <div class="speaker-social">
                    <a href="https://za.linkedin.com/in/nkululeko-thangelane-351797b9"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-kael-huerta.jpg">
                </div>
                <div class="speaker-name">
                    Kael Huerta
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Toptal
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/kaelhuerta"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/kaelhuerta"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://mx.linkedin.com/in/kaelhuerta/en"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-warren-allworth.jpg">
                </div>
                <div class="speaker-name">
                    Warren Allworth
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Aculocity
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/WarrenAllworth"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/AllworthWarren"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/warren-allworth-8481816a"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-anne-treasure.jpg">
                </div>
                <div class="speaker-name">
                    Anne Treasure
                </div>
                <div class="speaker-position">
                    Postdoc
                </div>
                <div class="speaker-affiliation">
                    University of Cape Town
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/AnneMTreasure/"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/annemtreasure"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/anne-treasure-6815701a"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-katrin-tirok.jpg">
                </div>
                <div class="speaker-name">
                    Katrin Tirok
                </div>
                <div class="speaker-position">
                    Scientist
                </div>
                <div class="speaker-affiliation">
                    University of KwaZulu-Natal
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/katrintirok"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/katrin-tirok-95512068"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-andrea-ross-gillespie.jpg">
                </div>
                <div class="speaker-name">
                    Andrea Ross-Gillespie
                </div>
                <div class="speaker-position">
                    Postdoc
                </div>
                <div class="speaker-affiliation">
                    University of Cape Town
                </div>
                <div class="speaker-social">
                    <a href="https://www.maram.uct.ac.za/maram/people/rossgillespie"><i class="fa fa-university" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-katie-lennard.jpg">
                </div>
                <div class="speaker-name">
                    Katie Lennard
                </div>
                <div class="speaker-position">
                    Postdoctoral Fellow
                </div>
                <div class="speaker-affiliation">
                    University of Cape Town
                </div>
                <div class="speaker-social">
                    <a href="https://za.linkedin.com/in/katie-lennard-136a475"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-kirsty-lee-garson.jpg">
                </div>
                <div class="speaker-name">
                    Kirsty Lee  Garson
                </div>
                <div class="speaker-position">
                    PhD Candidate
                </div>
                <div class="speaker-affiliation">
                    University of Cape Town
                </div>
                <div class="speaker-social">
                    <a href="https://za.linkedin.com/in/kirsty-lee-garson-895b8334"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-jeroen-van-der-merwe.jpg">
                </div>
                <div class="speaker-name">
                    Jeroen van der Merwe
                </div>
                <div class="speaker-position">
                    Freelance Researcher
                </div>
                <div class="speaker-affiliation">
                    Independent
                </div>
                <div class="speaker-social">
                    <a href="https://za.linkedin.com/in/jeroen-van-der-merwe"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-peter-kamerman.jpg">
                </div>
                <div class="speaker-name">
                    Peter Kamerman
                </div>
                <div class="speaker-position">
                    Associate Professor
                </div>
                <div class="speaker-affiliation">
                    University of the Witwatersrand
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/kamermanpr/"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/painblogR"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/kamermanpr"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-laing-lourens.jpg">
                </div>
                <div class="speaker-name">
                    Laing Lourens
                </div>
                <div class="speaker-position">
                    Data Science Intern
                </div>
                <div class="speaker-affiliation">
                    Meraka Institute, CSIR
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/lainglo/"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/laing-lourens-7a723846"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-kerryn-warren.jpg">
                </div>
                <div class="speaker-name">
                    Kerryn Warren
                </div>
                <div class="speaker-position">
                    PhD Student
                </div>
                <div class="speaker-affiliation">
                    University of Cape Town
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/kerryn_warren"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/kerryn-warren-149091106"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-niels-berglund.jpg">
                </div>
                <div class="speaker-name">
                    Niels Berglund
                </div>
                <div class="speaker-position">
                    Software Specialist
                </div>
                <div class="speaker-affiliation">
                    Derivco
                </div>
                <div class="speaker-social">
                    <a href="https://za.linkedin.com/in/niels-berglund-0122593"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-michael-johnson.jpg">
                </div>
                <div class="speaker-name">
                    Michael Johnson
                </div>
                <div class="speaker-position">
                    BI Consultant
                </div>
                <div class="speaker-affiliation">
                    Independent
                </div>
                <div class="speaker-social">
                    <a href="https://twitter.com/MikeJohnsonZA"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/michaeladrianjohnson"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-robert-bennetto.jpg">
                </div>
                <div class="speaker-name">
                    Robert Bennetto
                </div>
                <div class="speaker-position">
                    Head of Consulting
                </div>
                <div class="speaker-affiliation">
                    Pivot Sciences
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/TheCoolRob"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/robert-bennetto-bb232a14"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-hanjo-odendaal.jpg">
                </div>
                <div class="speaker-name">
                    Hanjo Odendaal
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    Eighty20 Analytics
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/HanjoStudy"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/nicolaasjohannes"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-jacques-booysen.jpg">
                </div>
                <div class="speaker-name">
                    Jacques Booysen
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    EOH
                </div>
                <div class="speaker-social">
                    <a href="https://za.linkedin.com/in/jacques-booysen-3a1b921"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-schalk-heunis.jpg">
                </div>
                <div class="speaker-name">
                    Schalk Heunis
                </div>
                <div class="speaker-position">
                    Data Scientist
                </div>
                <div class="speaker-affiliation">
                    EOH ESA
                </div>
                <div class="speaker-social">
                    <a href="https://za.linkedin.com/in/schalkheunis"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="speaker" data-original-title="" title="">
                <div class="speaker-photo">
                    <img src="images/speakers/profile-matt-adendorff.jpg">
                </div>
                <div class="speaker-name">
                    Matt Adendorff
                </div>
                <div class="speaker-position">
                    Lead Technologist
                </div>
                <div class="speaker-affiliation">
                    Open Data Durban
                </div>
                <div class="speaker-social">
                    <a href="https://github.com/mattadendorff"><i class="fa fa-github" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/mattadendorff"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    <a href="https://za.linkedin.com/in/matthew-adendorff-b3a54029"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="speaker-bio">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
-->
</section>
