<section id="workshops">
    <h2>Workshops</h2>
    <p>The sat<b>R</b>day Cardiff conference will kick off on the
    23<sup>rd</sup> of June 2018 with a day of workshops held by our Keynote
    Speakers. Workshops will be around 3 hours, and run in paralell.</p>

    <!-- <small>(*) Workshops available to training pass holders only.</small> -->

    <h3 class="center">Data Science Generalist</h3>
    <h5 class="center">by Locke Data!</h5>
    <h4>Stephanie Locke</h4>

    <p>
      An introduction to R core concepts and skills, including business case,
      Exploratory Data Analysis, CRISP-DM, Modelling and Operationalising.
    </p>

    <p>
      <b>Attendees should bring a laptop with the latest versions of
        <a href="https://www.r-project.org">R</a> and
        <a href="https://www.rstudio.com/products/rstudio/download">RStudio</a>
        installed and questions about the R in Enterprise!
      </b>
    </p>

</section>
