<section id="workshops">
    <h2>Workshops</h2>
    <p>The sat<b>R</b>day Cardiff conference will kick off on the
    23<sup>rd</sup> of June 2018 with a morning of workshops held by our Keynote
    Speakers. Workshops will be around 3 hours, and run in parallel.</p>

    <h3 class="center">Data Science Generalist</h3>
    <h4 class="center">by Stephanie Locke</h4>
    <h5 class="center">Locke Data</h5>

    <p>
      An introduction to R core concepts and skills, including business case,
      Exploratory Data Analysis, CRISP-DM, Modelling and Operationalising.
    </p>

    <p>
      <b>Attendees should bring a laptop with the latest versions of
        <a href="https://www.r-project.org">R</a> and
        <a href="https://www.rstudio.com/products/rstudio/download">RStudio</a>
        installed and questions about the R language in Enterprise!
      </b>
    </p>

    <h3 class="center">Upgrade Your Workflow with a Custom Package</h3>
    <h4 class="center">by Heather Turner</h4>

    <p>
      You might think that writing packages is only for R pros. But creating a
      custom package is a good way for anyone to formalise their workflow and
      if you can write an R function you can do it! This workshop will set you
      up to start using custom packages in your work and hobby projects.
    </p>

    <p>
      <b>Attendees should bring a laptop with the latest versions of
        <a href="https://www.r-project.org">R</a> and
        <a href="https://www.rstudio.com/products/rstudio/download">RStudio</a>
        installed and questions about CRAN and packages!
      </b>
    </p>
</section>
